/* General style start*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    --backimg: #b3f3f7;
    --cv-back: #2f2e2e;
    --pdf-logo: #1ae0ec;
    --footer-color: #383838;
    --footer-color-2: #eeeeee;
    --footer-back: #f3f3f3;
    --inputcolor: #f6f6f6;
    --whitecolor: #ffff;
}


#logo-2 {
    font-family: 'Satisfy', cursive;
    font-size: 1.2rem;
}

.button {
    padding: 5px 5px;
    background: #1ae0ec;
    border-radius: 20px;
}

.button-1 {
    padding: 10px 15px;
    background: #1ae0ec;
    font-weight: bold;
}

.cardbutton {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    animation: spin 20s infinite;
    gap: .3125rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }

}




/*  General style End */
/* nav-bar start */
.nav-bar-major {
    display: flex;
    justify-content: space-around;
    min-height: 70px;
    box-shadow: 1px 5px 1px lightgray;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.sti {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: var(--whitecolor)
}

.list {
    list-style-type: none;
}

.list .list-item {
    display: inline-block;
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

.firstimg {
    border-radius: 20px;
    gap: 2.5rem;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.25rem;
}

@media screen and (max-width: 768px) {
    .nav-bar-major {
        display: flex;
        flex-wrap: wrap;
    }
}

/* nav-bar end */

/* hero-section start */
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-image: url(img/bg.jpeg);
    background-blend-mode: multiply;
    background-color: var(--backimg);
    margin-top: 70px;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
}

h2 {
    font-size: 80px;
}

@media screen and (max-width:498px) {

    .firstimg {
        height: 25px;
    }

    a:visited {
        color: var(--pdf-logo)
    }
}


/* hero-section end */

/* programs  start */
.container3 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    box-shadow: 1px 1px 5px lightgrey;
    margin-top: 100px;
}



/* programs  end */

/* about me start */
.container4 {
    display: grid;
    padding: 30px;
    grid-template-columns: 400px 500px;
    grid-template-rows: repeat(1, 400px);
    margin-right: 170px;
}

p {
    padding: 10px;
}

.box {
    margin: auto;
    width: 300px;
    height: 300px;

}

.profle-img {
    width: 300px;
    height: 300px;
}



@media screen and (max-width:1016px) {
    .container4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fr);
        place-items: center;
        margin: 0;

    }



}



/* about me end */
/* CV start */
.logo-1 {
    background-color: var(--cv-back);
    width: 100px;
    height: 100px;
}

.logopdf {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.875rem;
}

.container-cv {
    display: grid;
    grid-template-columns: 120px 500px 1fr;
    padding: 30px;
    grid-gap: 100px;
    background-color: var(--cv-back);
    color: var(--whitecolor);

}

h3 {
    font-size: 40px;
    font-weight: bold;
}

.font {
    font-family: 'Satisfy', cursive;
}


.button-cv {
    background-color: var(--pdf-logo);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 40px;
    margin-bottom: 50px;
}

@media screen and (max-width:1005px) {
    .container-cv {
        padding-right: 20px;
    }
}

@media screen and (max-width:1016px) {
    .container-cv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
        justify-content: center;


    }

    .major-form {
        margin-right: 70px;
    }

}


/* CV end */

/* projects-start */
.title {
    text-align: center;
    padding-bottom: 20px;
}

.cards-major {
    padding: 4rem 0;
    background-color: var(--footer-back);
}

.card-center {
    margin: auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    width: 450px;
    height: 500px;
    box-shadow: 1px 1px 1px lightgray;
    margin-bottom: 5px;
}

.card-second-title {
    padding: 1rem;
}

img {
    max-width: 450px;
    border-radius: 10px;
}

.card-center {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25rem;
    max-width: calc((3 * 450px) + (2 * 6.25rem));
}




/* projects-end */

/* form start */

.major-form {
    margin-right: 150px;
}

.header-form {
    margin-bottom: 20px;
}

.contaier7 {
    background-image: url(img/bg.jpeg);
    background-blend-mode: multiply;
    background-color: var(--backimg);
}

#fullname,
#email,
#phonenumber,
#message {
    background-color: var(--inputcolor);

    box-shadow: 1px 5px 1px lightgray;
    min-width: 300px;
    border-style: none;
    display: block;
    text-align: start;
}

[placeholder] {
    color: gray;
    padding: 10px;
}

#phonenumber {
    text-align: end;
}

.form-control {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
}

.major-form {
    padding: 30px;
}

@media screen and (min-width:457px) and (max-width: 1016px) {
    .container7 {
        display: flex;
        flex-wrap: wrap;

    }

    .major-form {
        margin: 70px;
    }
}

/* form end */

/* footer start */
.container8 {
    min-height: 200px;
    background: #383838;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.info-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--footer-color-2);
}

/* footer start */

.container9 {
    background: lightgray;

}

#projectJs {
    width: 100vw;
    background-color: #f5feff;
    box-shadow: 1px 1px 1px lightgray;


}

#cardProjectcenter {
    display: flex;
    flex-wrap: wrap;
    gap: 8.25rem;
    max-width: calc((3 * 350px) + (3 * 8.25rem));
    margin: auto;
    justify-items: center;
    justify-content: center;
    text-align: center;

}

@media screen and (max-width:1016px) {
    #cardProjectcenter {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fr);
        place-items: center;
        margin: auto;

    }



}

#projectJs-head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
    padding-bottom: 50px;
    padding-top: 100px;
}

.card-jsProject {
    width: 360px;
    height: 400px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    align-items: center;


}

.imageprojectJs {
    border-radius: 40px;
    box-shadow: 1px 1px 1px lightgray;

}


.cardNameProjectJs {
    font-size: 1.25rem;
    font-weight: bold;

}

















/* general sitting */
@media screen and (min-width:1017px) and (max-width:1416px) {

    .container4 {
        margin-right: 100px;
    }

    .container-cv {
        display: grid;
        grid-template-columns: 50px 500px 1fr;
        padding: 30px;
        grid-gap: 100px;
        background-color: var(--cv-back);
        color: var(--whitecolor);

    }
}

@media screen and (min-width:329px) and (max-width:456px) {

    .sti {
        max-width: 100%;

    }

    .list .list-item {
        padding: 10px 10px;
    }

    .profle-img {
        max-width: 270px;
        margin: auto;

    }

    .cvh3 {
        font-size: 2rem;

    }

    .card {
        width: 330px;
        height: 500px;
        box-shadow: 1px 1px 1px lightgray;
        margin-bottom: 5px;
        width: 100%;


    }

    .cardp {
        margin-right: 0px;
    }

    .card-second-title {
        padding: 1rem;
    }

    img {
        max-width: 300px;
        border-radius: 10px;
    }

    .card-center {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        max-width: calc((3 * 330px) + (2 * 1.25rem));
    }

    #fullname,
    #email,
    #phonenumber,
    #message {

        min-width: 250px;

    }

    .major-form {
        margin-right: 0;
        padding: 20px;
    }

}

@media screen and (max-width:328px) {

    .list .list-item {
        padding: 5px 5px;
    }

    .container4 {

        padding: 5px;
    }

    .card {
        width: 330px;
        height: 500px;
        box-shadow: 1px 1px 1px lightgray;
        margin-bottom: 5px;
        width: 100%;


    }

    .cardp {
        margin-right: 0px;
    }

    .card-second-title {
        padding: 1rem;
    }

    img {
        max-width: 300px;
        border-radius: 10px;
    }

    .card-center {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        max-width: calc((3 * 330px) + (2 * 1.25rem));
    }

    .major-form {
        margin-right: 0;
        padding: 20px;
    }

    #fullname,
    #email,
    #phonenumber,
    #message {

        min-width: 200px;

    }

    .info-logo {
        width: 40px;

    }



}